.pickerText {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid;
  min-width: 180px;
  padding: 1px;
  min-height: 32px;
}
.pickerText:hover {
  border-color: '[theme:themeLight, default: #c7e0f4]';
}
.pickerInput {
  height: 34px;
  border: none;
  flex-grow: 1;
  outline: none;
  padding: 0 6px;
  margin: 1px;
}
.pickerInput::-ms-clear {
  display: none;
}
