.pickerText {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid;
  min-width: 180px;
  min-height: 30px;
}
.pickerText:hover {
  border-color: '[theme:inputBorderHovered, default: #323130]';
}
.pickerText.inputFocused {
  border-color: '[theme:inputFocusBorderAlt, default: #0078d4]';
}
.pickerInput {
  height: 34px;
  border: none;
  flex-grow: 1;
  outline: none;
  padding: 0 6px;
  align-self: flex-end;
}
.pickerItems {
  display: flex;
  flex-wrap: wrap;
}
.screenReaderOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
