.root {
  line-height: 1;
  width: 18px;
  height: 18px;
  vertical-align: top;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.root:before {
  content: '';
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 1px;
  top: 1px;
  border-radius: 50%;
  opacity: 1;
  background: '[theme:bodyBackground, default: #ffffff]';
}
.root.rootIsChecked:before {
  background: '[theme:themePrimary, default: #0078d4]';
  opacity: 1;
}
@media screen and (-ms-high-contrast: active) {
  .root.rootIsChecked:before {
    background: Window;
  }
}
.root .check {
  opacity: 0;
}
.checkHost:focus .root .check,
.checkHost:hover .root .check,
.root.rootIsChecked .check,
.root:focus .check,
.root:hover .check {
  opacity: 1;
}
.check,
.circle {
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  text-align: center;
  vertical-align: middle;
}
.circle {
  color: '[theme:neutralSecondary, default: #605e5c]';
}
@media screen and (-ms-high-contrast: active) {
  .circle {
    color: WindowText;
  }
}
.rootIsChecked .circle {
  color: '[theme:white, default: #ffffff]';
}
.check {
  color: '[theme:neutralSecondary, default: #605e5c]';
  font-size: 16px;
  left: 0.5px;
}
@media screen and (-ms-high-contrast: active) {
  .check {
    -ms-high-contrast-adjust: none;
  }
}
.rootIsChecked .check {
  color: '[theme:white, default: #ffffff]';
  font-weight: 900;
}
@media screen and (-ms-high-contrast: active) {
  .rootIsChecked .check {
    border: none;
    color: WindowText;
  }
}
