.root {
  overflow-y: auto;
  max-height: inherit;
  height: inherit;
  -webkit-overflow-scrolling: touch;
}
.stickyAbove,
.stickyBelow {
  position: absolute;
  pointer-events: auto;
  width: 100%;
  z-index: 1;
}
.stickyAbove {
  top: 0;
}
@media screen and (-ms-high-contrast: active) {
  .stickyAbove {
    border-bottom: 1px solid WindowText;
  }
}
.stickyBelow {
  bottom: 0;
}
@media screen and (-ms-high-contrast: active) {
  .stickyBelow {
    border-top: 1px solid WindowText;
  }
}
