.root {
  min-width: 260px;
}
.suggestionsItem {
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.suggestionsItem:hover {
  background: '[theme:neutralLighter, default: #f3f2f1]';
}
.suggestionsItem:hover .closeButton {
  display: block;
}
.suggestionsItem.suggestionsItemIsSuggested {
  background: '[theme:neutralLight, default: #edebe9]';
}
.suggestionsItem.suggestionsItemIsSuggested:hover {
  background: '[theme:neutralTertiaryAlt, default: #c8c6c4]';
}
@media screen and (-ms-high-contrast: active) {
  .suggestionsItem.suggestionsItemIsSuggested:hover {
    background: Highlight;
    color: HighlightText;
  }
}
@media screen and (-ms-high-contrast: active) {
  .suggestionsItem.suggestionsItemIsSuggested {
    background: Highlight;
    color: HighlightText;
    -ms-high-contrast-adjust: none;
  }
}
.suggestionsItem.suggestionsItemIsSuggested .closeButton:hover {
  background: '[theme:neutralTertiary, default: #a19f9d]';
  color: '[theme:neutralPrimary, default: #323130]';
}
@media screen and (-ms-high-contrast: active) {
  .suggestionsItem.suggestionsItemIsSuggested .itemButton {
    color: HighlightText;
  }
}
.suggestionsItem .closeButton {
  display: none;
  color: '[theme:neutralSecondary, default: #605e5c]';
}
.suggestionsItem .closeButton:hover {
  background: '[theme:neutralLight, default: #edebe9]';
}
.actionButton {
  background: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  position: relative;
  border-top: 1px solid;
  height: 40px;
  width: 100%;
  font-size: 12px;
}
[dir='ltr'] .actionButton {
  padding-left: 8px;
}
[dir='rtl'] .actionButton {
  padding-right: 8px;
}
html[dir='ltr'] .actionButton {
  text-align: left;
}
html[dir='rtl'] .actionButton {
  text-align: right;
}
.actionButton:hover {
  background-color: '[theme:neutralLight, default: #edebe9]';
  cursor: pointer;
}
.actionButton:active,
.actionButton:focus {
  background-color: '[theme:themeLight, default: #c7e0f4]';
}
.actionButton :global(.ms-Button-icon) {
  font-size: 16px;
  width: 25px;
}
.actionButton :global(.ms-Button-label) {
  margin: 0 4px 0 9px;
}
html[dir='rtl'] .actionButton :global(.ms-Button-label) {
  margin: 0 9px 0 4px;
}
.buttonSelected {
  background-color: '[theme:themeLight, default: #c7e0f4]';
}
.suggestionsTitle {
  padding: 0 12px;
  color: '[theme:themePrimary, default: #0078d4]';
  font-size: 12px;
  line-height: 40px;
  border-bottom: 1px solid;
}
.suggestionsContainer {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px;
  border-bottom: 1px solid;
}
.suggestionsNone {
  text-align: center;
  color: #767676;
  font-size: 12px;
  line-height: 30px;
}
.suggestionsSpinner {
  margin: 5px 0;
  white-space: nowrap;
  line-height: 20px;
  font-size: 12px;
}
html[dir='ltr'] .suggestionsSpinner {
  padding-left: 14px;
}
html[dir='rtl'] .suggestionsSpinner {
  padding-right: 14px;
}
html[dir='ltr'] .suggestionsSpinner {
  text-align: left;
}
html[dir='rtl'] .suggestionsSpinner {
  text-align: right;
}
.suggestionsSpinner :global(.ms-Spinner-circle) {
  display: inline-block;
  vertical-align: middle;
}
.suggestionsSpinner :global(.ms-Spinner-label) {
  display: inline-block;
  margin: 0 10px 0 16px;
  vertical-align: middle;
}
html[dir='rtl'] .suggestionsSpinner :global(.ms-Spinner-label) {
  margin: 0 16px 0 10px;
}
.itemButton.itemButton {
  width: 100%;
  padding: 0;
  min-width: 0;
  height: 100%;
}
@media screen and (-ms-high-contrast: active) {
  .itemButton.itemButton {
    color: WindowText;
  }
}
.itemButton.itemButton:hover {
  color: '[theme:neutralDark, default: #201f1e]';
}
.closeButton.closeButton {
  padding: 0 4px;
  height: auto;
  width: 32px;
}
@media screen and (-ms-high-contrast: active) {
  .closeButton.closeButton {
    color: WindowText;
  }
}
.closeButton.closeButton:hover {
  background: '[theme:neutralTertiaryAlt, default: #c8c6c4]';
  color: '[theme:neutralDark, default: #201f1e]';
}
.suggestionsAvailable {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
