*.config.js
*.nuspec
*.yml
*.test.*
.editorconfig
.gitattributes
.gitignore
coverage
temp
images
results
*.build.log
dist/*.stats.html
dist/*.stats.json
dist/demo*.*
gulpfile.js
index.html
jsconfig.json
node_modules
tsd.json
webpack.config.js
fabric-test*
*.api.json
